<% include partials/header %>

<div class="form-container">
    <form action="" method="post" autocomplete="off">
        <div>
            <h3>Agregar Producto</h3>
        </div>
        <br>
        <section>
            <input type="text" placeholder="Categoria" name="categoria"><br><br>
            <input type="text" placeholder="Nombre del producto" name="nombre"><br><br>
            <input type="text" placeholder="Precio" name="precio"><br>
        </section>
        <br>
        <button type="submit">
            Agregar nuevo producto
        </button>
        <br><br>
    </form>
</div>

<% include partials/footer %>