<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paginacion con Node</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <a href="/">
            <h2>Paginación con node</h2>
        </a>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos/1">Productos</a></li>
                <li><a href="/agregar-producto">Agregar</a></li>
            </ul>
        </nav>
    </header>